.sharptex-bold {
  font-weight: bold;
}

.sharptex-italic {
  font-style: italic;
}

.sharptex-underline {
  text-decoration: underline;
}

.sharptex-h1 {
  width: 100%;
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0.35em 0;
}

.sharptex-h2 {
  width: 100%;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.25em 0;
}

.sharptex-h3 {
  width: 100%;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  margin: 0.15em 0;
}

.sharptex-center {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.sharptex-right {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.sharptex-green {
  background-color: rgb(204, 255, 204);
}

.sharptex-blue {
  background-color: rgb(212, 212, 255);
}

.sharptex-grey {
  color: rgb(224, 224, 224);
}
